@using Questionnaire.Data
@inject QuestionInteractor Interactor

<h4 class="mt-4">@Question.QuestionText</h4>

<EditForm Model="this">
    <InputRadioGroup @bind-Value="SelectedOption">
        @foreach (var option in Question.AnswerOptions)
        {
            <InputRadio Value="option.OptionText" /> <span class="ml-2">@option.OptionText</span> <br />
        }
    </InputRadioGroup>
</EditForm>

@code {
    [Parameter]
    public Question Question { get; set; }

    private string _selectedOption;
    public string SelectedOption
    {
        get => _selectedOption;
        set
        {
            _selectedOption = value;
            OnSelectionChanged(value);
        }
    }

    private void OnSelectionChanged(string value)
    {
        Interactor.UpdateQuestion(Question, value);
    }
}
