@using Questionnaire.Data
@inject QuestionInteractor Interactor

<h4 class="mt-4">@Question.QuestionText</h4>


@if (_vm == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_vm.SelectedAnswer != null)
    {
        @if (_vm.RightAnswerSelected)
        {
            <p class="pl-3">Your answer '@(_vm.SelectedAnswer)' is correct.</p>
        }
        else
        {
            <p class="pl-3">
                Your answer '@(_vm.SelectedAnswer)' is wrong.<br />
                Correct answer: '@(_vm.CorrectAnswer)'
            </p>
        }
    }
    else
    {
        <p class="pl-3">You haven't answered this question yet.</p>
    }
}




@code {
    [Parameter]
    public Question Question { get; set; }
    private EvaluatedQuestion _vm;

    protected override void OnInitialized()
    {
        _vm = Interactor.EvaluateQuestion(Question);
    }
}
